<script setup lang="ts">

const { data:skills } = await useAsyncData('skills',() => $fetch('/api/skills'));

</script>
<template>
    <h4 class="text-gray-900 dark:text-gray-600 w-full text-xl border-b border-gray-600">Skills</h4>
    <div class="py-4 px-6 text-gray-700 dark:text-gray-500">
        <div v-show="!skills" class="animate-pulse flex flex-col gap-3">
            <div v-for="index in 12" class="h-2 bg-slate-700 rounded col-span-1" :style="{width: Math.floor(Math.random() * (100 - 10) + 10) +'%' }" ></div>
        </div>
        <ul class="list-disc list-inside">  
            <li v-for="skill in skills">{{ skill.title }}</li>
        </ul>
    </div>
</template>