<script setup lang="ts">

</script>

<template>
    <div>
        <div class="bg-white dark:bg-gray-900 min-h-screen w-full pt-5">
            <ThemeSwitcher />
            <div class="sm:mx-auto px-5 container">
                <slot />
            </div>
        </div>
    </div>
</template>