<script setup lang="ts">

</script>

<template>
    <div>
        <div class="flex flex-col items-center gap-5 mb-5">
        <img src="~/assets/images/profile-photo.jpg" alt="Erol Tukenmez Profile Photo" class="w-48 h-48 sm:w-52 sm:h-52 rounded-full ring-4 ring-sky-700">
        <div class="text-center">
            <h1 class="text-gray-800 dark:text-gray-600 text-xl">Erol Tükenmez</h1>
            <h3 class="text-gray-700 dark:text-gray-700">Full-Stack Web Developer</h3>
        </div>
        <div class="sm:text-center">
            <p class="text-gray-700 dark:text-gray-500">
                I have been involved in a wide range of projects up to this point. 
                We work with a government institution that has around 10,000 employees, and we develop projects for both internal use and the public.
                Our goal is to deliver software using the most effective methods as quickly as possible. 
                We are responsible for all processes, from project planning to deployment on servers. 
                I am developing myself within the Laravel ecosystem and the PHP language.
                I strive to take on various roles and responsibilities. 
                With about 10 years of work experience, I am keen on further developing myself in this field and aspire to work in an international team.
                That's why I continue my English education.
            </p>
        </div>
    </div>

    <div class="grid sm:grid-cols-4 gap-5 sm:gap-20">
        <!-- Education & Skills -->
        <div class="">
            <h4 class="text-gray-900 dark:text-gray-600 w-full text-xl border-b border-gray-600">Education</h4>
            <div class="py-4 px-6 text-gray-700 dark:text-gray-500">
                <div>
                    Kırklareli University <br>
                    <span class="pl-2 text-sm">Computer Programming (2012-2014)</span>
                </div>
            </div>
            <div class="py-4 px-6 text-gray-700 dark:text-gray-500">
                <div>
                    Yahya Günsür Vocational and Technical Anatolian High School <br>
                    <span class="pl-2 text-sm">Information Technologies (2009-2012)</span>
                </div>
            </div>

            <Skills />
        </div>
        <!-- Experience -->
        <div class="sm:col-span-3">
            <h4 class="text-gray-900 dark:text-gray-600 w-full text-xl border-b border-gray-600">Experience</h4>
            <div class="py-4 px-6 text-gray-700 dark:text-gray-500">
                
                <div class=" mb-5">
                    <h5>Full-Stack Web Developer</h5>
                    <h6 class="text-sm text-gray-800 dark:text-gray-700">Ankara Metropolitan Municipality - Turkey - 2017+</h6>
                    <p>
                        <ul class="list-disc list-inside">
                            <li>Fullstack PHP development via Laravel Framework, Vuejs, Tailwind CSS</li>
                            <li>Support other departments software projects</li>
                            <li>Receiving software demands from other departments and analizying needs to suitabilty and develop these softwares.</li> 
                            <li>Management private gitlab ce</li>
                            <li>Periodical control of active software</li>
                            <li>Tender Management</li>
                        </ul>
                    </p>
                </div>

                <div class="mb-5">
                    <h5>FULL-STACK DEVELOPER</h5>
                    <h6 class="text-sm text-gray-800 dark:text-gray-700">Freelance - Turkey/Ankara - 2015-2017</h6>
                    <p>
                        <ul class="list-disc list-inside">
                            <li>Developing web projects via laravel framework (>5.x)</li>
                            <li>Developing CMS, automation systems such as personnel tracking</li>
                            <li>Using boostrap, jquery, vue at frontend</li>
                            <li>Using ionic framework for mobile applications</li>
                            <li>Using relation databes MySQL, Posgresql</li>
                        </ul>
                    </p>
                </div>

                
                <div class="mb-5">
                    <h5>WEB DEVELOPER</h5>
                    <h6 class="text-sm text-gray-800 dark:text-gray-700">Ar-Ne Bilgisayar - Turkey/Ankara - 2014-2015</h6>
                    <p>
                        <ul class="list-disc list-inside">
                            <li>Jounior PHP Developer</li>
                            <li>Developing active software by using PHP</li>
                            <li>Experienced PHP development with website team</li>    
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<style>

</style>